<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/deee5b77-292d-42b7-8c96-355b6de93166/resourcegroups/rg-mvc5-essentials/providers/Microsoft.Web/sites/myBandSite</ResourceId>
    <ResourceGroup>rg-mvc5-essentials</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mybandsite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mybandsite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myBandSite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myBandSite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MVCRockerDB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mybandsitedbserver.database.windows.net,1433;Initial Catalog=myBandSite_db;User ID=msdnadmin@mybandsitedbserver;Password=msdnP@ssw0rd" Name="Data Source=tcp:mybandsitedbserver.database.windows.net,1433;Initial Catalog=myBandSite_db;User Id=msdnadmin@mybandsitedbserver;Password=msdnP@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MVCRockers.Models.ApplicationDbContext, MVCRockers" MigrationConfiguration="MVCRockers.Migrations.Configuration, MVCRockers" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MVCRockerDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mybandsitedbserver.database.windows.net,1433;Initial Catalog=myBandSite_db;User Id=msdnadmin@mybandsitedbserver;Password=msdnP@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>